/.idea/

/PS.iml
/PS1-rmi.iml
/PS2-rmi.iml
/PS3-soap.iml
/PS4-soap.iml

#Projects excluded paths
/PS1-rmi/.gradle/
/PS1-rmi/build/

/PS2-rmi/.gradle/
/PS2-rmi/build/

/PS3-soap/.gradle/
/PS3-soap/build/

/PS4-soap/.gradle/
/PS4-soap/build/
/PS4-soap/CSharpClient/.idea/
/PS4-soap/CSharpClient/CSharpClient/bin/
/PS4-soap/CSharpClient/CSharpClient/obj/
