/.idea/

/PS.iml

#Projects excluded paths
/PS1-rmi/.gradle/
/PS1-rmi/build/

/PS2-rmi/.gradle/
/PS2-rmi/build/

/PS3-soap/.gradle/
/PS3-soap/build/

/PS4-soap/.gradle/
/PS4-soap/build/
/PS4-soap/CSharpClient/.idea/
/PS4-soap/CSharpClient/CSharpClient/bin/
/PS4-soap/CSharpClient/CSharpClient/obj/
/PS4-soap/PythonClient/venv/

/PS5-soap/.gradle/
/PS5-soap/build/

/PS6-soap/.gradle/
/PS6-soap/build/

/Project-SOAP/.gradle/
/Project-SOAP/build/